/* Made Friday, November 17th, 2023 */
body {
    background-color: green;
    overflow: hidden;
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color:darkblue;
}

/* A Div used to move cards */
#dragging_items { 
    position: absolute;
    z-index: 5;
    border: 3px solid red;
    width:90px;
    height:10%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none
}

#dragging_items > * {
    position: relative;
    margin-top:-100px;
    top:100px;
}

/* Items on the board left */

#draw_container {
    border: 1px solid black;
    position: relative;
    display: flex;
    width: 300px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    margin-left:0%;
    justify-content: center;
    align-items: center;
}

#draw_cards {
    width:30%;
    max-width: 30%;
    margin-top:35%;
    transform: translate(-25%, 100%);
}

#draw_cards > * {
    position: absolute;
    top:-125px;
}

#drawed_cards {
    width:30%;
    max-width: 30%;
    margin-top:35%;
    transform: translate(25%, -50%);
}

#drawed_cards > * {
    position: absolute;
    top:-120px;
}

/* Items on the board */
#container {
    position: absolute;
    max-width: 100%;
    width:100%;
    max-height: 100%;
    height: 100%;
    top:75px;
    border: 1px solid black;
}

/* The Container with draw cards and end cards */
#board_left {
    position: relative;
    display: flex;
    border: 3px solid black;
    width:20%;
    max-width: 19%;
    height: 100%;
    max-height: 80%;
    top:-81%;
    left:35px;
}

#gameboard {
    border:3px dotted black;
    height:100%;
    max-height: 80%;
    width: 75%;
    max-width: 90%;
    left:25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard .card_set {
    border:1px dotted black;
    width: 90px;
    height:100%;
    max-height: 100%;
    margin-left: 30px;
    margin-right:30px;
    margin-top:10px;
}

.card {
    position: relative;
    display: flex;
    border: 1px solid black;
    width:100%;
    height:120px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10%;
}

.card_set .card {
    margin-top:-100px;
    top:100px;
}


/* Hidden Cards */
.card_hidden { content: url("./cards/purple_back.jpg"); }

/* Items off the board */
#header {
    position: fixed;
    border: 3px solid black;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    max-height: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
}

#header > * {
    position: relative;
    font-weight: bold;
    top:50%;
    transform: translate(0%, -50%)
}