/* Made Friday, November 17th, 2023 */
body {
    background-color: green;
}

a {
    color:darkblue;
}

/* Items on the board left */
#board_left {
    position: relative;
    border: 3px solid black;
    width:20%;
    max-width: 19%;
    height: 100%;
    max-height: 80%;
    margin-right:5%;
    margin-top: 5.75%;
}

#draw_container {
    border: 1px solid black;
    position: relative;
    margin-left:50%;
    margin-top:20%;
    transform: translate(-50%, -20%);
    width: 300px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}

#draw_cards {
    width:30%;
    max-width: 30%;
    margin-top: 50%;
    transform: translate(25%, -75%);
}

#draw_cards > * {
    margin-top:-121px;
}

#drawed_cards {
    width:30%;
    max-width: 30%;
    transform: translate(175%, -95%);
}

#drawed_cards > * {
    margin-top:-121.5px;
}

/* Items on the board */
#gameboard {
    border:3px dotted black;
    height:100%;
    max-height: 80%;
    width: 80%;
    max-width: 80%;
    position: relative;
    margin-top: -558.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left:100%;
    transform: translate(-100%)
}

#gameboard .card_set {
    border:1px dotted black;
    width: 90px;
    max-height: 100%;
    margin: auto;
    margin-top:10px;
}

.card {
    border: 1px solid black;
    position: relative;
    display:flex;
    top: 100px;
    margin-top:-100px;
    transition: 1px ease; /* Add transition for smooth animation */
    width:100%;
    height:120px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10%;
}

/* Any Card in the card Set no matter their class */

/* Hidden Cards */
.card_hidden { content: url("./cards/purple_back.jpg"); }

/* Items off the board */
#footer {
    position: fixed;
    border: 3px solid black;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
}

#header {
    position: fixed;
    border: 3px solid black;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    max-height: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
}

#footer > * {
    position: relative;
    font-weight: bold;
    top:50%;
    transform: translate(0%, -50%)
}

#header > * {
    position: relative;
    font-weight: bold;
    top:50%;
    transform: translate(0%, -50%)
}