/* Made Friday, November 17th, 2023 */
body {
    background-color: green;
    overflow: hidden;
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {color:darkblue;}

/* A Div used to move cards */
#dragging_items { 
    position: absolute;
    z-index: 5;
    width:90px;
    height:10%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

#dragging_items > * {
    position: relative;
    display: flex;
    margin-top:-5.1em;
    width:70px;
    height:100px;
    justify-content: center;
    align-items: center;
    top:5.1em;
    margin-left:50%;
    transform: translate(-50%);
}

/* Items on the board left */

#draw_container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    place-items: center;
	justify-content: center;
	align-items: center;
}

.offhand {
    border:1px solid black;
    width:130px;
    max-width: 100%;
    height: 100px;
    margin-right: 1em;
    margin-left: 1em;
}

.offhand > * {
    position: relative;
    margin-top:-6.40em;
    top:6.30em;
    margin-left:1.5em;
    place-content: center;
    justify-content: center;
}

/* Items on the board */
#container {
    position: absolute;
    max-width: 100%;
    width:100%;
    max-height: 100%;
    height: 100%;
    top:110px;
    user-select: none;
}

/* The Container with draw cards and end cards */
#board_left {
    position: relative;
    border: 3px solid black;
    width:21%;
    max-width: 100%;
    height: 100%;
    max-height: 80%;
    top:-81%;
    left:35px;
}

#gameboard {
    border:3px dotted black;
    height:100%;
    max-height: 80%;
    width: 70%;
    max-width: 100%;
    left:28%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard .card_set {
    height:100%;
    max-height: 100%;
    flex: 2.5em;
    justify-content: center;
    align-items: center;
}

#gameboard .card_set > * {
    place-content: center;
    justify-content: center;
    align-items: center;
  	left: 50%;
}

/* Sets up the card and its elms */
.card {
    position: relative;
    display: flex;
    border: 1px solid black;
    width: 70px;
    height:100px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10%;
    -webkit-user-drag: none; /* Stops the user from dragging the image and not the element */
    background-color: white;
    flex-wrap: wrap;
}

.card > * {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-top:-.6em;
    flex:40%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none; /* Stops the user from dragging the image and not the element */
    pointer-events: none;
    user-select: none;
}

.card_suit_bottom { font-size: 80px;}

.card_set .card {
    margin-top:-5.1em;
    top:100px;
    margin-left:-2em;
}

/* All the Finished cards container */
#finished-cards {
    display:flex;
    width:100%;
    max-width: 100%;
    height:65%;
    flex-wrap: wrap;
    place-items: center;
	justify-content: center;
	align-items: center;
}

.finish_card {
    width:20px;
    height:100px;
    flex: 45%;
    flex-wrap: wrap;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    line-height: 2em;
}

.finish_card .card {
    margin-top: -2em;
    margin-left:50%;
    transform: translate(-50%);
}

.finish_card .card .card_num, .finish_card .card .card_suit_top  {
    margin-top:-1.2em;
}

/* Finished Card Text Colors */
.color_red {color: red;}
.color_black {color: black;}

/* Hidden Cards */
.card_hidden { content: url("./cards/purple_back.jpg"); }

/* Items off the board */
#header {
    position: fixed;
    border: 3px solid black;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    max-height: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    text-align: center;
}

#header > * {
    position: relative;
    font-weight: bold;
    top:50%;
    transform: translate(0%, -50%)
}

